.bash_history
.cache/
.caddy/
.cargo/
.composer/
.config/
.gitconfig
.gnupg/
.gradle/
.httpie/
.local/
.m2/
.node_repl_history
.npm/
.python_history
.sqlite_history
.ssh/
.termux/
.termux_authinfo
.tldr/
.vim/
.viminfo
.vnc/
.vue-cli-ui/
.wget-hsts
.zsh_history
caddy/
caddy-example/
debian/
dump.rdb
go/
me/
notes/
storage/
works/
v/
tmp/
wiki/
.netrc
.subversion/
.degit/
.vuerc
.yarnrc
.mycli*
.mysql_history

