.cache/
.caddy/
.cargo/
.composer/
.config/
.gitconfig
.gnupg/
.gradle/
.httpie/
.local/
.m2/
.npm/
.ssh/
.termux/
.termux_authinfo
.tldr/
.vim/
.viminfo
.vnc/
.vue-cli-ui/
.wget-hsts
caddy/
caddy-example/
debian/debian-binds
debian/debian-fs
debian/dev
develop/
eth/
go/
me/
notes/
storage/
works/
tmp/
wiki/
.netrc
.subversion/
.degit/
.vuerc
.yarnrc
*_history
.mycli*
.dart/
.pub-cache/
.vmodules/
covid/

