.bash_history
.cache/
.caddy/
.cargo/
.config/
.gitconfig
.httpie/
.local/
.m2/
.node_repl_history
.npm/
.python_history
.sqlite_history
.ssh/
.termux/
.termux_authinfo
.tldr/
.vim/
.viminfo
.vnc/
.wget-hsts
caddy-example/
debian/
dump.rdb
go/
me/
notes/
storage/
works/

